*, *::before, *::after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(5, 19, 44, 0.856);
    font-family: sans-serif;
}

h1 {
    color: rgba(240, 255, 255, 0.505);
    margin: 0;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titleImage{
    width: 300px;
    height: 300px;
    background-color: rgb(0, 195, 255);
    margin: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    transition: all .4s ease;
}

.rotate-img {
    border-radius: 50%;
    animation: roatate-effect 2s linear infinite;
    box-shadow: inset 0 0 30px white;
}

@keyframes roatate-effect {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navButtonContainer{
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.navButtons{
    margin: 0px 30px;
    width: 50px;
    height: 50px;
    font-size: 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 128, 0.324);
    transform: scale(2);
    border-radius: 8px;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.navButtons:hover {
    background-color: rgba(3, 168, 168, 0.662);
}

#title{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: aqua;
    text-shadow: 0 0 10px rgb(75, 75, 75);
    border-radius: 8px;
    box-shadow: 0 0 15px aqua, inset 0 0 8px white;
    background: linear-gradient(to bottom, aqua, teal);
    transition: all .4s ease-in-out;
  }

  .custom-file-upload:hover {
    box-shadow: 0 0 30px aqua, inset 0 0 12px white;
  }


  .mainContainer { margin: 20px; }
  .titleImage { font-size: 50px; }
  .custom-file-upload { cursor: pointer; padding: 10px; border: 1px solid #ccc; display: inline-block; }
  .navButtons { padding: 10px; font-size: 20px; }
  .navButtonContainer { display: flex; justify-content: center; margin: 20px; }


  #next_song {
    color: aqua;
    text-align: center;
    hyphens: auto;
    font-size: .8rem;
  }

  .playlist-wrapper {
    background: linear-gradient(to bottom, teal, rgba(5, 19, 44, 0.856));
    width: 100%;
    max-width: 300px;
    padding: 20px 5px;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: scroll;
  }

  h3 {
    color: white;
  }

  .playlist-title {
    color: black;
    margin-bottom: 20px;
    background-color: aqua;
    padding: 8px ;
    border-radius: 8px;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  .playlist-title:hover {
    background-color: teal;
    color: aqua;
  }

  .current-title {
    color: aqua;
    text-shadow: 0 0 10px aqua;
    background: black;
    box-shadow: inset 0 0 15px aqua;
  }


  .center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
