*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(5, 19, 44, 0.856);
    font-family: sans-serif;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titleImage{
    width: 300px;
    height: 300px;
    background-color: rgb(0, 195, 255);
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
}

.navButtonContainer{
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.navButtons{
    margin: 0px 20px 0px 20px;
    width: 150px;
    height: 70px;
    font-size: 90px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

#title{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: aqua;
  }